---
layout: default
---
{%- assign all = site.data.sections.sections -%}
{% for section in all %}
  {% case section.type %}
    {% when 'hero' %}{% include section-hero.html section=section %}
    {% when 'stories' %}{% include section-stories.html section=section %}
    {% when 'strengths' %}{% include section-strengths.html section=section %}
    {% when 'pros' %}{% include section-pros.html section=section %}
    {% when 'square' %}{% include section-square.html section=section %}
  {% endcase %}
  {% if section.divider_after %}<hr class="section-divider">{% endif %}
{% endfor %}
